html {
    -webkit-font-smoothing: antialiased
}

body,
html {
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0
}

body {
    background-color: #f9f9f9;
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif
}


/* Lists */
ul {
    list-style-type: none;
    padding: 5px;
    height: 270px;
    overflow-y: scroll;
}

li {
    padding: 10px 0;
    border-bottom: 1px solid #f0f0f0;
    display: table;
    font-size: 14px
}

li div {
    width: 100%;
    vertical-align: middle;
    display: table-cell;
}

li button {
    height: 30px;
    float: right
}



/* Buttons and clickable elements! */
button {
    border-radius: 7px;
    border: 1px solid #f7f7f7
}

button:hover,
.share:hover {
    cursor: pointer;
    background-color: #f4f4f4;
}

button:disabled {
    cursor: not-allowed
}

.share {
    align-items: center;
    padding: 0 5px;
    color: #777;
    font-size: 10px;
    border-radius: 4px;
    background-color: #f9f9f9;
    display: inline-block;
}

.small-button {
    float: right;
    color: #008060;
    background-color: #fff;
    border-width: 0;
    text-align: right
}

.small-button:hover {
    color: #000;
    background-color: #fff;
    text-decoration: underline
}

.cancelbtn,
.clearbtn {
    float: left;
    width: 50%
}

.clearbtn {
    background-color: #cd5c5c;
    color: #fff
}

.clearbtn:hover {
    background-color: #c94f4f
}

#max_nominations button {
    border: 0;
    margin-right: 4%;
    color: gray
}

.clear {
    align-items: center;
    font-size: 12px;
    border: 0;
    display: inline-block;
    text-decoration: underline;
    color: #fff;
    border-radius: 4px;
    cursor: pointer
}

.clear:hover {
    font-weight: 700
}


/* General classes */

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.disabled {
    pointer-events: none
}

.show {
    visibility: visible
}

.flex-column {
    flex-direction: column
}

.popuptext {
    visibility: hidden;
    background-color: rgb(255, 255, 255, .99);
    color: #111;
    text-align: center;
    border-radius: 4px;
    padding: 20px;
    z-index: 1;
    border: 1px solid #008060;
    font-size: 12px
}

.big-container {
    display: flex;
    margin-top: 10px
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, .4)
}

.placeholder {
    text-align: center;
    color: gray;
    padding-top: 40px
}

.content {
    margin: 20px 20px 40px
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.container-item {
    padding: 20px;
    display: flex;
    margin: 1%;
    background-color: #fff;
    font-size: 16px;
    border-radius: 8px;
    border: solid 1px #ddd;
    width: 43%
}

.container-above-header {
    height: 10px
}

.container-below-header {
    height: 20px
}

.container-below-header button,
.container-below-header p {
    float: right
}

.container-header {
    border-bottom: 1px solid #eee;
    padding: 10px 5px
}

.container-content {
    height: 300px;
    background-color: #fff;
    margin: 0;
    padding: .1px .1px 10px
}

.container-footer {
    height: 20px;
    line-height: 20px
}

.loader {
    margin-top: 10%;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #008060;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}


/* Header */

.header {
    overflow: hidden;
    background-color: rgb(0, 76, 63, .8);
    padding: 10px
}

.header-logo {
    padding: 5px;
    float: left;
    display: flex;
    flex-direction: row;
    color: #fff
}

.header-text {
    flex-direction: column
}

.header-icon {
    padding-right: 10px
}

.header-text-top {
    font-size: 20px
}

.header-text-bottom {
    font-size: 14px
}


/* Search */
#search_div {
    width: 100%
}

.inner-search-container {
    display: flex;
    width: 100%;
    align-items: center
}

.inner-search-container input {
    width: 100%;
    font-size: 16px;
    color: #333;
    border: 1px solid #e5e5e5;
    height: 100%
}

.search-bar {
    flex-grow: 1;
    display: flex;
}

#search_input {
    padding: 5px;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
}

#search_input:focus {
    border: 1px solid #008060;
    outline: 0
}

.search-button {
    width: 164px;
    padding: 5px
}

#search_button {
    padding: 5px 0;
    border-radius: 2px;
    font-weight: 700;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .15);
    background-color: #008060;
    color: #fff;
    border: 0;
    width: 100%;
}

#search_button:hover {
    background-color: #004c3f;
    color: #fff;
    background: #2d62d3
}

.begin-search {
    visibility: hidden;
}


/* Nomination bars */
.bars {
    display: flex
}

#bar1,
#bar2,
#bar3,
#bar4,
#bar5 {
    background-color: #eee;
    height: 100%;
    flex-grow: 1;
    border: 1px solid #fff;
    margin-bottom: 10px
}



/* Header and footer child elements in results */
#number_of_results {
    font-size: 10px;
    font-style: italic;
    text-align: center
}

#page {
    text-align: center;
    font-size: 10px;
    margin: 0px;
}

/* Additional elements */
#clear_form {
    background-color: #fff;
    padding: 2%;
    margin: 8px;
    font-size: 16px;
    border-radius: 8px;
    border: solid 1px #ddd
}

#max_nominations {
    background-color: #02b588;
    margin-top: 30px;
    vertical-align: middle;
    text-align: center;
    line-height: 40px;
    color: #fff;
    padding: 10px;
    position: fixed;
    width: 100%;
    opacity: 0.95;
    bottom: 10px;
}

#max_nominations a {
    color: #004c3f
}


/* Responsive design */
@media screen and (max-width:300px) {

    .cancelbtn,
    .deletebtn {
        width: 100%
    }
}

@media screen and (max-width:767px) {

    .mobile-content {
        height: 100px
    }

    .big-container {
        flex-direction: column;
        flex-flow: column-reverse
    }

    .med-container {
        width: 96%;
        margin: 10px 0
    }

    .search-container {
        margin: 10px 0
    }

    .inner-search-container {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 20px
    }

    .inner-search-container input {
        padding: 0;
        height: 50px
    }

    .search-button {
        margin-bottom: 0;
        width: 100%
    }

    .container-item {
        width: 100%
    }

    #clear_form {
        padding: 5%;
        font-size: 14px
    }

    #search_div {
        order: 2
    }

    #results_div {
        order: 3
    }

    #nominations_div {
        order: 1
    }

    .begin-search {
        visibility: visible;
        float: none;
    }

}


/* Animations */ 
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
} /* Safari */

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
